
:root {
    /* FÄRGER */
    --brun: #9e6d52;
    --grön: #0a846e;
    --rosa: #FCF6FC;
    --röd: #B93857;
    --knappröd: #81253b;
    --knappgrön: #055647;

    /* TYPSNITTER */
    --maven: 'Maven Pro', sans-serif;
    --open: 'open-sans', sans-serif;
    --lato: 'Lato', sans-serif;
}

/* BAKGRUND */
body {
    background-color: var(--rosa);
}

/* HELA CONTENT SIDAN */
.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}

/* BILDER TOPPEN */
.images {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    line-height: 0;
}
#hand {
    width: 501px;
    height: 540px;
}
#heart {
    position: absolute;
    top: 40%;
    left: 31%;
    width: 190px;
    height: 186px;
}
.hand-heart {
    position: relative;
    width: 100%;
    height: auto;
}
.boxes {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#brown-box {
    background-color: var(--brun);
    width: 501px;
    height: 270px;
}
#green-box {
    background-color: var(--grön);
    width: 501px;
    height: 270px;
}

.seed {
    position: absolute;
    top: 10%;
    left: 33%;
    width: 190px;
    height: 186px;
}
.shovel {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 190px;
    height: 186px;
}
.seed, .shovel {
    position: relative;
}


/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(114, 114, 114, 0.25);
}
.navbar a {
    font-family: var(--maven);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--knappgrön);
    padding: 10px;
}
.navbar a:hover {
    color: var(--grön);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* PLANNED PLANTHOOD */
h1 {
    display: flex;
    justify-content: center;
    font-family: var(--maven);
    color: var(--grön);
    text-transform: uppercase;
    font-size: 3rem;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    padding: 2rem;
    
}
.content h2 {
    font-family: var(--open);
    font-weight: 600;
    color: black;
    font-size: 2rem;
}
.content p {
    font-family: var(--open);
    font-size: 1rem;
}
.text {
    display: flex;
    flex-direction: column; 
}
.green-button {
    align-self: flex-end;
    background-color: var(--grön);
    color: white;
    box-shadow: 0px 4px 4px rgba(114, 114, 114, 0.25);
    border: none;
    border-radius: 10px;
    padding: 13px 30px;
    font-size: 20px;
    cursor: pointer;
    font-family: var(--open);
    font-weight: 700;
}
.green-button:hover {
    background-color: var(--knappgrön);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
#Seed-package {
    display: flex;
    justify-content: center;
    align-items: center
}
#Seed-package img {
    width: 200px;
    height: 200px;
}
#Seed-package {
    background-color: #0a846e;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* VÅRA PLANERADE PLANTERINGAR: */
h3 {
    display: flex;
    justify-content: center;
    font-family: var(--maven);
    margin-top: 5%;
}
.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    padding: 2rem;
}
.article {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0.5rem;
    box-shadow: 4px 4px 4px rgba(48, 47, 47, 0.253);
}
.article img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: clamp(140px, 22vw, 240px);
}
.article .plant {
    position: absolute;
    right: 62%;
    top: 135%;
    width: 150px;
    height: auto;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.vegetable {
    font-family: var(--lato);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
   
}
.farmer {
    font-family: var(--lato);
    font-size: 1rem;
    font-weight: 300;
    color: grey;
    margin-top: 1rem;
    margin-bottom: 0rem;
} 
.date {
    font-family: var(--open);
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
   
}
.red-button {
    justify-self: flex-end;
    align-self: flex-end;
    background-color: var(--röd);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 6px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: var(--open);
    font-weight: 700;
}
.red-button:hover {
    background-color: var(--knappröd);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* FOOTER */
.footer {
    background-color: rgb(37, 37, 37);
    text-align: center;
    padding: 1rem;
}
.kontakt-bar {
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.icon {
    width: 20px;
    height: 20px;
   
}